 @media screen and (max-width: 1200px){
   
}

@media screen and (max-width: 991px){
    .main_nav{
        position: absolute;
        top:64px;
        left:0px;
    }
    .header_logo a{
        margin-left: 20px;
    }
    
}
@media screen and (max-width: 768px){
    .header_btn a{
        padding: 8px 16px;
        font-size: 18px;
        line-height: 18px;
    }
    

}

@media screen and (max-width: 576px){
    .header_btn a{
        padding: 6px 14px;
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 480px){
   

}

@media screen and (max-width: 375px){
   

}

@media screen and (max-width: 320px){
   

}